<section class="hero is-primary">
  <div class="hero-body"></div>
  <div class="hero-foot">
    <div class="container">
      <nav class="tabs is-boxed">
        <ul>
          {{ if not .IsHome }}
            <li>
              <a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ .Site.Params.home | default "Home" }}</a>
            </li>
          {{ end }}
          {{ range .Site.Menus.main }}
            <li><a href='{{ .URL }}'>{{ .Name }}</a></li>
          {{ end }}
          {{ if .Site.Params.enableRSS }}
            <li><a class="cta" href="{{ .Site.RSSLink }}">{{ .Site.Params.subscribe | default "Subscribe" }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>