<nav class="pagination is-right">
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasPrev }}
      <a class="pagination-previous" href="{{.Paginator.Prev.URL}}">
        <span class="arrow">←</span> {{ .Site.Params.newerPosts | default "Newer Posts" }}
      </a>
    {{ end }}
    {{ if .Paginator.HasNext }}
      <a class="pagination-next" href="{{.Paginator.Next.URL}}">
        {{ .Site.Params.olderPosts | default "Older Posts" }}<span class="arrow">→</span>
      </a>
    {{ end }}
  {{ end }}
</nav>
