<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <a href='{{ .URL }}'>{{ .LinkTitle }}</a>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{ .Description | markdownify }}
      <br>
    </div>
  </div>
  <footer class="card-footer">
    <div class="card-footer-item tags">
      {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
          {{ range . }}
            <span class="tag">
              <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
            </span>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </footer>
</div>
