{
  "comments": false,
  "compact": true,
  "presets": [
  	"react",
    [
      "env", {
        "useBuiltIns": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "chrome >= 33",
            "edge >= 14",
            "safari >= 7",
            "ios_saf >= 9"
          ]
        }
      }
    ]
  ]
}
