{{ define "main" }}
<div class="column">
  <nav class="breadcrumb is-centered is-large">
    <ul>
      <li><a>Post</a></li>
      <li class="is-active"><h1><a>{{ .Title }}</a></h1></li>
    </ul>
  </nav>
  <div class="columns">
    <div class="column is-one-quarter">
      <header class="content is-small">
          <p>First published on {{ .Date.Format "January 2, 2006" }}</p>
          <section id="tags" class="is-spaced subtitle">
          {{ with .Params.tags }}
          {{ if ge (len .) 1 }}
            {{ range . }}
              <span class="tag">
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
              </span>
            {{ end }}
          {{ end }}
          {{ end}}
          </section>
      </header>
      <footer>
        <aside id="toc" class="menu">
          <p class="menu-label">
            Chapters
          </p>
          <ul class="menu-list">
            <li>
              {{ .TableOfContents }}
            </li>
          </ul>
        </aside>
        {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
        <div>
          <span class="dark">{{ .Site.Params.name }}</span>
          <span>{{ .Site.Params.aboutAuthor }}</span>
        </div>
        {{ with .Site.Params.twitter }}</a>{{ end }}
        <section id="sharing">
          {{ partial "share.html" . }}
        </section>
      </footer>
    </div>

    <div class="column">
      <div class="content">
        <header>
        </header>
        <section id="post-body">
          {{ .Content }}
        </section>
      </div>
    </div>

  </div>


  {{ template "_internal/disqus.html" . }}
</div>
{{ end }}
